Repository microsoft/dstoolkit-mlops-base: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/PIPELINE-0-setup.yml, azure-pipelines/PIPELINE-1-modeling.yml, azure-pipelines/PIPELINE-2-batchinference.yml

Path conditions:
  azure-pipelines/PIPELINE-0-setup.yml: any of: configuration/compute, configuration/configuration-infra-*, but not: *
  azure-pipelines/PIPELINE-1-modeling.yml: any file but: README.md, CONTRIBUTING.md, SECURITY.md, docs
  azure-pipelines/PIPELINE-2-batchinference.yml: any file but: *.md

Fixes in comments
  operation/execution/build_training_pipeline.py
  src/aml_utils.py
Due: azure-pipelines/PIPELINE-1-modeling.yml, azure-pipelines/PIPELINE-2-batchinference.yml

Use >= in register condition
  src/register.py
Due: azure-pipelines/PIPELINE-1-modeling.yml, azure-pipelines/PIPELINE-2-batchinference.yml

Dummy change
  src/score.py
Due: azure-pipelines/PIPELINE-1-modeling.yml, azure-pipelines/PIPELINE-2-batchinference.yml

Another dummy change
  src/README.md
Due: azure-pipelines/PIPELINE-1-modeling.yml, azure-pipelines/PIPELINE-2-batchinference.yml

added custom docker environment setting
  configuration/environments/environment_inference_dockerfile/BaseDockerfile
  configuration/environments/environment_inference_dockerfile/azureml_environment.json
  configuration/environments/environment_inference_dockerfile/conda_dependencies.yml
  configuration/environments/environment_training_dockerfile/BaseDockerfile
  configuration/environments/environment_training_dockerfile/azureml_environment.json
  configuration/environments/environment_training_dockerfile/conda_dependencies.yml
  docs/how-to/AdjustingDockerfile.md
  docs/how-to/FAQ.md
Due: azure-pipelines/PIPELINE-1-modeling.yml, azure-pipelines/PIPELINE-2-batchinference.yml

Update azureml_environment.json
  configuration/environments/environment_inference_dockerfile/azureml_environment.json
Due: azure-pipelines/PIPELINE-1-modeling.yml, azure-pipelines/PIPELINE-2-batchinference.yml

Update conda_dependencies.yml
  configuration/environments/environment_inference_dockerfile/conda_dependencies.yml
Due: azure-pipelines/PIPELINE-1-modeling.yml, azure-pipelines/PIPELINE-2-batchinference.yml

Update conda_dependencies.yml
  configuration/environments/environment_training_dockerfile/conda_dependencies.yml
Due: azure-pipelines/PIPELINE-1-modeling.yml, azure-pipelines/PIPELINE-2-batchinference.yml

Update azureml_environment.json
  configuration/environments/environment_training_dockerfile/azureml_environment.json
Due: azure-pipelines/PIPELINE-1-modeling.yml, azure-pipelines/PIPELINE-2-batchinference.yml

Update AdjustingDockerfile.md
  docs/how-to/AdjustingDockerfile.md
Due: azure-pipelines/PIPELINE-2-batchinference.yml

Update FAQ.md
  docs/how-to/FAQ.md
Due: azure-pipelines/PIPELINE-2-batchinference.yml

Create FAQ.md
  docs/how-to/FAQ.md
Due: azure-pipelines/PIPELINE-2-batchinference.yml

deploy_model.py to deal with multiple models
  operation/execution/deploy_model.py
Due: azure-pipelines/PIPELINE-1-modeling.yml, azure-pipelines/PIPELINE-2-batchinference.yml

Dealing with multiple models
  configuration/configuration-aml.variables.yml
Due: azure-pipelines/PIPELINE-1-modeling.yml, azure-pipelines/PIPELINE-2-batchinference.yml

changed template to accepted concat of model names
  azure-pipelines/templates/deploy-model.template.yml
Due: azure-pipelines/PIPELINE-1-modeling.yml, azure-pipelines/PIPELINE-2-batchinference.yml

Revert "Handle Multiple Models in deployment"
  azure-pipelines/templates/deploy-model.template.yml
  configuration/configuration-aml.variables.yml
  operation/execution/deploy_model.py
Due: azure-pipelines/PIPELINE-1-modeling.yml, azure-pipelines/PIPELINE-2-batchinference.yml

added base upload/download operation code
  operation/execution/upload_download_model.py
Due: azure-pipelines/PIPELINE-1-modeling.yml, azure-pipelines/PIPELINE-2-batchinference.yml

corrected utils import and added todos
  operation/execution/upload_download_model.py
Due: azure-pipelines/PIPELINE-1-modeling.yml, azure-pipelines/PIPELINE-2-batchinference.yml

Changed setupcicd.md link to GettingStarted.md#run-the-pipeline
  README.md
Due: none

Changed setupcicd.md link to GettingStarted.md#run-the-pipeline (#74)
  README.md
Due: none

Upgrade azureml version from 1.35.0 to 1.43.0
  configuration/environments/environment_inference/conda_dependencies.yml
  configuration/environments/environment_inference_dockerfile/conda_dependencies.yml
  configuration/environments/environment_training/conda_dependencies.yml
  configuration/environments/environment_training_dockerfile/conda_dependencies.yml
Due: azure-pipelines/PIPELINE-1-modeling.yml, azure-pipelines/PIPELINE-2-batchinference.yml

Upgrade azureml SDK version from 1.35.0 to 1.43.0
  configuration/configuration-aml.variables.yml
Due: azure-pipelines/PIPELINE-1-modeling.yml, azure-pipelines/PIPELINE-2-batchinference.yml

Remove temporary fixed for bug in az cli 2.30
  azure-pipelines/templates/deploy-model.template.yml
  azure-pipelines/templates/update-data.template.yml
  azure-pipelines/templates/utils/invoke-aml-pipeline.template.yml
Due: azure-pipelines/PIPELINE-1-modeling.yml, azure-pipelines/PIPELINE-2-batchinference.yml

remove downgrade azure cli
  azure-pipelines/templates/deploy-model.template.yml
  azure-pipelines/templates/update-data.template.yml
  azure-pipelines/templates/utils/invoke-aml-pipeline.template.yml
Due: azure-pipelines/PIPELINE-1-modeling.yml, azure-pipelines/PIPELINE-2-batchinference.yml

remove TODO
  azure-pipelines/templates/deploy-model.template.yml
  azure-pipelines/templates/update-data.template.yml
  azure-pipelines/templates/utils/invoke-aml-pipeline.template.yml
Due: azure-pipelines/PIPELINE-1-modeling.yml, azure-pipelines/PIPELINE-2-batchinference.yml

add azureml-contrib-services==1.43.0 to inference environment
  configuration/environments/environment_inference/conda_dependencies.yml
  configuration/environments/environment_inference_dockerfile/conda_dependencies.yml
Due: azure-pipelines/PIPELINE-1-modeling.yml, azure-pipelines/PIPELINE-2-batchinference.yml

upgrade VM_VERSION from ubuntu-18.04 to ubuntu-20.04
  configuration/configuration-aml.variables.yml
Due: azure-pipelines/PIPELINE-1-modeling.yml, azure-pipelines/PIPELINE-2-batchinference.yml

Update GettingStarted.md
  docs/how-to/GettingStarted.md
Due: azure-pipelines/PIPELINE-2-batchinference.yml

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Update CONTRIBUTING.md (#78)
  CONTRIBUTING.md
Due: none

Create CODEOWNERS
  .github/CODEOWNERS
Due: azure-pipelines/PIPELINE-1-modeling.yml, azure-pipelines/PIPELINE-2-batchinference.yml
